<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Home Page</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
	</head>
   <style>
      h2 {
         color:#152515;
         font-size: 32px;
      }
      .explanation{
         font-size: 16px;
      }
      .digitMsg{
         font-size: 20px;
      }
   </style>
	<body class="loggedin">
		<nav class="navtop">
			<div>
				<h1>Agilim</h1>
            <a href="{{ url_for('home') }}"><i class="fas fa-home"></i>Home</a>
				<a href="{{ url_for('profile') }}"><i class="fas fa-user-circle"></i>Profile</a>
				<a href="{{ url_for('logout') }}"><i class="fas fa-sign-out-alt"></i>Logout</a>
			</div>
		</nav>
      <div class="content">
			<center><body>
            <h2>Olá {{ username }}! <br> Escreva a resposta de seu cliente.</h2>
            <form method="POST" action="/satisfaction/cliente">
               <textarea id="message" name="message" rows="4" cols="60" class="digitMsg"></textarea><br><br>
               <button class="button">Enviar</button>   
            </form>
            <p class="explanation">
               Clique em enviar<br> 
               Agilim irá mostrar a satisfação do seu cliente!<br>
               A frase deverá ser escrita em Português.
            </p>
         </body></center>
		</div>
		<div class="content">
			<center><body>
            <h2>Hello {{ username }}! <br> Write something about your felling.</h2>
            <form method="POST" action="/satisfaction/english">
               <textarea id="message" name="message" rows="4" cols="60" class="digitMsg"></textarea><br><br>
               <button class="button">Submit</button>   
            </form>
            <p class="explanation">
               Click the "Submit" button<br> 
               Agilim will show your satisfaction!<br>
               The sentence must be written in English.
            </p>
         </body></center>
		</div>
	</body>
</html>