{% extends 'layout.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<h2>Profile Page</h2>
<div>
    <p>Your account details are below:</p>
    <table>
        <tr>
            <td>Username:</td>
            <td>{{ account['username'] }}</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td>{{ account['email'] }}</td>
        </tr>
    </table>
</div>
<div>
    <p>Your interation details are below:</p>
    <table>
        <tr>
            <td>Text:</td>
            <td>{{ infos['msg'] }}</td>
        </tr>
        <tr>
            <td>Scores:</td>
            <td>Your felling is: {{ infos['score']['compound'] }}</td>
        </tr>
        <tr>
            <td>Agree:</td>
            <td>{{ infos['agree'] }}</td>
        </tr>
    </table>
</div>
{% endblock %}