
{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<html lang="en">
    <center><body size="+10">
      <form method = "post" action="/home">
        <font size="+40">
            <p>&#128512<br> {{pos}}</p>
         
            <p>&#128528<br> {{neu}}</p>

            <p>&#128546<br> {{neg}}</p>
        </font>
        <div> 
            <h2>Do you agree with Agilim?</h2>
            <input type="radio" id="Yes" name="fav_language" value="YES" style="height:35px; width:35px; vertical-align: middle;">
            <label for="Yes">Yes</label>
            <input type="radio" id="No" name="fav_language" value="NO" style="height:35px; width:35px; vertical-align: middle;">
            <label for="No">No</label>
            <input type="radio" id="NotSure" name="fav_language" value="NOT_SURE" style="height:35px; width:35px; vertical-align: middle;">
            <label for="NotSure">Not Sure</label> <br><br>
            <button class="button">Submit</button>
        </div>
      </form>
   </body></center>
</html>
{% endblock %}