
{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<html lang="en">
    <center><body size="+8">
      <form method = "POST" action="/home">
        <font size="+25">
            <p id="compound"></p>
            <script>
              var someJavaScriptVar = '{{ comp }}';
              console.log(someJavaScriptVar)
              if (someJavaScriptVar == 'Positivo'){
                document.getElementById("compound").innerHTML = "&#128512 POSITIVE";
              }else if (someJavaScriptVar == 'Neutro'){
                document.getElementById("compound").innerHTML = "&#128528 NEUTRAL";
              }else{
                document.getElementById("compound").innerHTML = "&#128546 NEGATIVE";
              }
            </script>
        </font>
        <div> 
            <h2>Do you agree with Agilim?</h2>
            <input type="radio" id="Yes" name="fav_language" value="YES" style="height:35px; width:35px; vertical-align: middle;">
            <label for="Yes">Yes</label>
            <input type="radio" id="No" name="fav_language" value="NO" style="height:35px; width:35px; vertical-align: middle;">
            <label for="No">No</label>
            <input type="radio" id="NotSure" name="fav_language" value="NOT_SURE" style="height:35px; width:35px; vertical-align: middle;">
            <label for="NotSure">Not Sure</label> <br><br>
            <button class="button">Submit</button>
            <p>Your feedback will be saved and can be used to improve Agilim's accuracy.</p>
        </div>
      </form>
   </body></center>
</html>
{% endblock %}